auto-install-peers=true
strict-peer-dependencies=false

[pnpm]
approve-builds[]=@parcel/watcher
approve-builds[]=esbuild
approve-builds[]=lmdb
approve-builds[]=msgpackr-extract
# Si algún paquete no encuentra sus dependencias (casos raros en Angular), descomenta:
# shamefully-hoist=true