allow-build = @parcel/watcher, esbuild, lmdb, msgpackr-extract
auto-install-peers=true
strict-peer-dependencies=false
# Si algún paquete no encuentra sus dependencias (casos raros en Angular), descomenta:
# shamefully-hoist=true