<form [formGroup]="form" class="space-y-4 max-h-[70vh] pr-4 w-[420]">
  <div class="mb-4 grid grid-cols-1 gap-4">
    <app-text-field
      id="event_name"
      [label]="t('fields.event_name.title')"
      [control]="getFormControl('event_name')"
      placeholder="site_visits"
      [disabled]="isEdit()"
      [errorMessages]="{
        required: t('fields.event_name.required'),
        minlength: t('fields.event_name.minlength'),
      }"
    ></app-text-field>
  </div>
  <hr class="border-gray-500 my-1 border-opacity-10" />
  <app-text-field
    id="label"
    [label]="t('fields.label.title')"
    [control]="getFormControl('label')"
    [placeholder]="t('fields.label.placeholder')"
    [errorMessages]="{
      required: t('fields.label.required'),
      minlength: t('fields.label.minlength'),
    }"
  ></app-text-field>
</form>
