<!-- change-user-password.component.html -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Contenedor principal con ancho fijo -->
  <div class="grid grid-cols-1 gap-4 w-[380px]">
    <div class="text-center">
      <label class="block text-gray-900 dark:text-gray-200 text-lg font-bold">
        {{ "components.users.password.email" | transloco }}
      </label>
      <p class="text-base text-gray-700 dark:text-gray-100 px-2">
        {{ form.get("email")?.value }}
      </p>
    </div>
    <!-- Cada campo tiene su propio contenedor de ancho fijo -->
    <div class="w-full min-h-[90px]">
      <app-text-field
        id="newPassword"
        label="{{ 'components.users.password.fields.new.title' | transloco }}"
        type="password"
        [control]="form.get('newPassword')"
        [errorMessages]="{
        required: ( 'components.users.password.fields.new.required' | transloco ),
        minlength: ( 'components.users.password.fields.new.minlength' | transloco ),
        maxlength: ( 'components.users.password.fields.new.maxlength' | transloco ),
        noLowerCase: ( 'components.users.password.fields.new.noLowerCase' | transloco ),
        noUpperCase: ( 'components.users.password.fields.new.noUpperCase' | transloco ),
        noNumber: ( 'components.users.password.fields.new.noNumber' | transloco ),
        noSpecialChar:
          ( 'components.users.password.fields.new.noSpecialChar' | transloco ),
        }"
      ></app-text-field>
    </div>
    <div class="w-full min-h-[90px]">
      <app-text-field
        id="confirmPassword"
        label="{{
          'components.users.password.fields.confirm.title' | transloco
        }}"
        type="password"
        [control]="form.get('confirmPassword')"
        [errorMessages]="{
          required: ( 'components.users.password.fields.confirm.required' | transloco ),
          passwordMismatch: ( 'components.users.password.fields.confirm.passwordMismatch' | transloco ),
        }"
      ></app-text-field>
    </div>
  </div>
</form>
